<footer class="footer ">
  <div class="f-info">
    <div class="f-info-socials mt-2">
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="f.company">&copy; 2025 Stayscape, Private Inc.</div>
    <div class="f-conditions mb-2">
      <a href="privacy">Privacy</a>
      <a href="terms">Terms</a>
    </div>
  </div>
</footer>