body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}
#title {
  text-decoration: none;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.navbar {
  height: 4rem;
  background-color: white;
  border-bottom: #212529;
}
.nav-link {
  color: #212529 !important;
  font-weight: 500 !important;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.nav-link:hover {
  background-color: #f4f4f4 !important;
}
.nav-link-user-button {
  background-color: #f2f2f2 !important;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.nav-link-user-button:hover {
  background-color: #ebebeb !important;
}
.footer {
  border-top: 1.5px solid #f4f1f1;
}
.f-conditions a {
  text-decoration: none;
  color: #212529;
}
.f-info {
  min-width: 13rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(217, 214, 214);
}
.f-info-socials i {
  font-size: 1.2rem;
}
.listing-card {
  min-width: 7rem !important;
  max-width: 22rem !important;
  border: none !important;
  margin-bottom: 3rem;
}
.card:hover {
  background-color: rgb(255, 255, 255, 0.5);
}
.card-body {
  padding: 0 !important;
}
.allLisstings {
  margin-top: 1rem !important;
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
.card-img-top {
  min-width: 10rem !important;
  width: 100%;
  border-radius: 0.9rem !important;
  object-fit: cover !important;
  height: 20rem !important;
}
.plus-jakarta-sans_body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}
.listing-image-click {
  width: 100%;
  text-decoration: none;
}
.listing-text-click {
  text-decoration: none;
  align-self: flex-start;
  color: #212529;
}
.newListing-description {
  resize: none;
  border-color: #212529 !important;
}
.newListing-input {
  border-color: #212529 !important;
}
.user-signup {
  border-color: #212529 !important;
}
.user-login {
  border-color: #212529 !important;
}

.show-card-content {
  min-width: 13rem !important;
}
.show-card {
  margin: 0 !important;
}
.show-card-img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-radius: 0.9rem;
}
.show-card-btns {
  margin-right: 0 !important;
}
.show-card-listing-button {
  width: 80%;
  max-width: 6.5rem;
}
.card-hover-effect {
  color: white;
  background-color: rgb(255, 255, 255, 0);
}
.card-hover-effect:hover {
  background-color: rgb(255, 255, 255, 0.2);
}
.form-error-ejs {
  margin-right: calc(0 * var(--bs-gutter-x)) !important;
  margin-left: calc(0 * var(--bs-gutter-x)) !important;
}
.review-textarea {
  resize: none;
  border-color: #212529 !important;
}
.review-content {
  height: 6rem;
  width: 100%;
  overflow-y: auto !important;
}
.review-card-body {
  margin-right: calc(0 * var(--bs-gutter-x)) !important;
  margin-left: calc(0 * var(--bs-gutter-x)) !important;
}
.review-card {
  min-height: 16rem;
  width: 100%;
  border-color: #212529 !important;
  background-color: #ffffff !important;
}
.success-flash-row-div {
  --bs-gutter-x: 0 rem !important;
}
.failure-flash-row-div {
  --bs-gutter-x: 0 rem !important;
}
.error-flash-row-div {
  --bs-gutter-x: 0 rem !important;
}
.edit-image-preview {
  border-radius: 6px !important;
}
.filters_container {
  margin-top: 1rem !important;
  margin-left: 5rem !important;
  margin-right: 4rem !important;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}
.filter_components {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height : 3rem !important;
  width : 7rem !important;
  border-radius: 0.5rem;
}
.filter_components:hover {
  background-color: #f0f0f0;
  opacity: 1;
}
.filter-component-text{
  margin:0 !important;
}
.taxInfo {
  display: none;
  font-weight: 400;
  font-size: 0.8rem;
}
.tax-display {
  width : 17rem !important;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  border: 2px solid #c0c0c0 !important;
  border-radius: 0.5rem !important;
  margin-right: 1rem !important;
}
.tax-text {
  padding-left: 0.5rem;
  margin: 0 !important;
}
.nav-search-button{
  background-color: #fe424d !important;
  color:#ffffff !important;
  border-radius: 1.5rem !important;
}
.nav-searchbar{
  border-radius: 1.5rem !important;
  width : 30rem !important;
}